<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form class="form-inline" (ngSubmit)="addTask()" #taskForm="ngForm">
        <div class="form-group">
          <label class="sr-only" for="content-field"></label>
          <input id="content-field" class="form-control" type="text" required placeholder="Enter a task..." [(ngModel)]="currentTask.content" name="task-content" />
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="taskForm.form.invalid"><i class="fa fa-plus" aira-hidden="true"></i>Add Task</button>
      </form>
    </div>
  </div>
  <div class="row">
    <app-card *ngFor="let task of tasks" [task]="task"></app-card>
    <h5 *ngIf="tasks.length==0">
      <p>Task list is empty</p>
      <p>Add a new task using the form above</p>
    </h5>
  </div>
</div>
