.card{
  border-radius: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12);
  cursor: pointer
}

.card,
.card-footer{
  background-color: #FFFFA5;
  border: none;
}

.card-footer{
  text-align: right;
}

i {
  color: #cc0000;
  padding-right: 0.5em;
}

.card.completed,
.card.completed .card-footer,
.card.completed i{
  background-color: #EEE;
  color: #CCC;
}

.hidden{
  display: none;
}
